.container{
    margin-top: 70px;
    margin-left: 40px;
}

.gallery{
     display: block;
  margin-left: auto;
  margin-right: auto;
}

.details{
    text-align: left;
    padding-right: 15px;
    font-size: larger;
}