.header{
    display: flex;
    margin-top: 15px;

}
.logo {
    margin-right: 350px;
    margin-left: 40px;
}
.menu a{
    text-decoration: none;
    color: rgba(19, 18, 18, 0.945);
    margin-right: 100px;
    font-size: 20px;
    font-weight: 500;
}
.menu a:hover{
    color: white;
    background-color: rgba(143, 170, 250, 0.692);
    border-bottom: 4px solid royalblue;
    padding: 15px;
}